examples/Flow2.json
[{"id":"5804ce57.c93","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"a5156572.f7c088","type":"inject","z":"5804ce57.c93","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"5","x":110,"y":160,"wires":[["fdc06945.4de528"]]},{"id":"fdc06945.4de528","type":"function","z":"5804ce57.c93","name":"","func":"msg.headers={\n    deviceKey: \"xeAhtbTCSw7P2262\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":220,"wires":[["1d00ae86.b8d601"]]},{"id":"1d00ae86.b8d601","type":"http request","z":"5804ce57.c93","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DsEm0FTE/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":140,"y":360,"wires":[["d45c1d28.678c","91778206.6dd5b"]]},{"id":"91778206.6dd5b","type":"debug","z":"5804ce57.c93","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":420,"wires":[]},{"id":"d45c1d28.678c","type":"http response","z":"5804ce57.c93","name":"","statusCode":"","headers":{},"x":290,"y":320,"wires":[]}]
