examples/Flow3.json
[{"id":"a0e0dd2f.365e8","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"c6253755.1aff28","type":"inject","z":"a0e0dd2f.365e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["742d0dca.844104"]]},{"id":"742d0dca.844104","type":"function","z":"a0e0dd2f.365e8","name":"","func":"msg.headers={\n    deviceKey: \"xeAhtbTCSw7P2262\"\n    };\n\nmsg.payload = \"Temperature,,25.3\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["d61dd0eb.34217"]]},{"id":"d61dd0eb.34217","type":"http request","z":"a0e0dd2f.365e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DsEm0FTE/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":200,"wires":[["e205f0d4.49cff","583476ee.e70918","a97f5b05.02a598"]]},{"id":"e8780474.1d1858","type":"http request","z":"a0e0dd2f.365e8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DsEm0FTE/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":400,"y":440,"wires":[["e1461e96.df467","49d113c2.1f788c"]]},{"id":"e205f0d4.49cff","type":"http response","z":"a0e0dd2f.365e8","name":"","statusCode":"","headers":{},"x":620,"y":200,"wires":[]},{"id":"e1461e96.df467","type":"http response","z":"a0e0dd2f.365e8","name":"","statusCode":"","headers":{},"x":650,"y":320,"wires":[]},{"id":"49d113c2.1f788c","type":"debug","z":"a0e0dd2f.365e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":500,"wires":[]},{"id":"583476ee.e70918","type":"debug","z":"a0e0dd2f.365e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":120,"wires":[]},{"id":"a97f5b05.02a598","type":"function","z":"a0e0dd2f.365e8","name":"","func":"msg.headers={\n    deviceKey: \"xeAhtbTCSw7P2262\"\n    };\n\n\nmsg.payload = \"Humidity,,90\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["e8780474.1d1858"]]}]
