examples/Flow5.json
[{"id":"4af5568a.193718","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"e991a324.77c57","type":"http in","z":"4af5568a.193718","name":"Set GPIO5","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":60,"y":200,"wires":[["54ab2b9.a7bd6d4","dc886bfb.7e1108"]]},{"id":"dc886bfb.7e1108","type":"function","z":"4af5568a.193718","name":"Set to 1","func":"msg.payload =1;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["1ecb692e.f191e7"]]},{"id":"54ab2b9.a7bd6d4","type":"function","z":"4af5568a.193718","name":"Return Status","func":"msg.payload = \"GPIO set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["3630efe4.184e3","7e9d9776.8a9a48"]]},{"id":"7e9d9776.8a9a48","type":"http response","z":"4af5568a.193718","name":"","statusCode":"","headers":{},"x":610,"y":180,"wires":[]},{"id":"3630efe4.184e3","type":"debug","z":"4af5568a.193718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":460,"wires":[]},{"id":"f4a1b73f.ba49c8","type":"http in","z":"4af5568a.193718","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":90,"y":560,"wires":[["a348cf6e.e8124","22cd8d31.3aeeb2"]]},{"id":"1ecb692e.f191e7","type":"rpi-gpio out","z":"4af5568a.193718","name":"","pin":"11","set":"","level":"0","freq":"","out":"out","x":400,"y":360,"wires":[]},{"id":"a348cf6e.e8124","type":"function","z":"4af5568a.193718","name":"Return Status","func":"msg.payload = \"GPIO set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":700,"wires":[["3630efe4.184e3","7e9d9776.8a9a48"]]},{"id":"22cd8d31.3aeeb2","type":"function","z":"4af5568a.193718","name":"clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":440,"wires":[["1ecb692e.f191e7"]]}]
