examples/Flow1.json
[{"id":"9a64c3d3.8f3c3","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"80c99c3e.aaa51","type":"rpi-gpio in","z":"9a64c3d3.8f3c3","name":"Button","pin":"7","intype":"up","debounce":"25","read":false,"x":50,"y":200,"wires":[["f2ff3a97.a6aad8","f6fb2369.37dee"]]},{"id":"bba018cb.33fe48","type":"rpi-gpio out","z":"9a64c3d3.8f3c3","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":630,"y":340,"wires":[]},{"id":"f2ff3a97.a6aad8","type":"switch","z":"9a64c3d3.8f3c3","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":340,"wires":[["bfb17890.09c208"],["aaa87f6.8232b8"]]},{"id":"aaa87f6.8232b8","type":"change","z":"9a64c3d3.8f3c3","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":400,"wires":[["bba018cb.33fe48"]]},{"id":"bfb17890.09c208","type":"change","z":"9a64c3d3.8f3c3","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":280,"wires":[["bba018cb.33fe48"]]},{"id":"f6fb2369.37dee","type":"debug","z":"9a64c3d3.8f3c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":240,"y":160,"wires":[]}]
