examples/Flow4.json
[{"id":"46398c99.ead6f4","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"80f8d8b1.a5e458","type":"http in","z":"46398c99.ead6f4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":60,"y":200,"wires":[["257293c1.b112ac"]]},{"id":"257293c1.b112ac","type":"random","z":"46398c99.ead6f4","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":260,"wires":[["36acf9df.1fc9c6","8d0eac63.8eca9"]]},{"id":"36acf9df.1fc9c6","type":"http response","z":"46398c99.ead6f4","name":"","statusCode":"","headers":{},"x":430,"y":200,"wires":[]},{"id":"8d0eac63.8eca9","type":"debug","z":"46398c99.ead6f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":340,"wires":[]}]
